@import "fonts";
@import "variable";

* {
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: $bg-color;
    color: #636b6f;
    font-family: $font-family;
    font-weight: 200;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.full-height {
    height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

ul {
    li {
        list-style: none;
        padding: 0;
    }
}
.link{
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    letter-spacing: .02em;
    text-decoration: none;
    cursor: pointer;
}

/* Start header */
header {
    a {
        color: $color-text-top-bar;
        text-decoration: none;
        padding: .5rem 0;
    }

    /* top bar */
    .top-bar {
        letter-spacing: 0.04em;
        background: $bg-top-bar;
        color: $color-text-top-bar;
        padding: .5rem 0;
        font-size: 13px;

        /* header-nav */
        .header__nav {
            text-align: center;

            .header__nav-item {
                display: inline-block;
                margin-right: 35px;

                a {
                    &.header__link {
                        position: relative;

                        &:before {
                            content: "";
                            width: 0;
                            height: 2px;
                            opacity: 0;
                            visibility: hidden;
                            transition: all .2s;
                            background: $color-text-top-bar;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }

                        &:hover {
                            &:before {
                                width: 100%;
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                    }

                }
            }
        }

        .top-bar__right {
            margin-left: auto;

            ul {
                li {
                    display: inline-block;
                    font-weight: bold;

                    &:first-child {
                        margin-right: 35px;
                    }
                }
            }
        }

        .top-bar__phone {
            margin: 0 auto;
            font-style: normal;
            font-weight: bold;

            span {
                &:before {
                    content: "";
                    background: url('../../images/icons/phone-icon.svg') no-repeat;
                    height: 13px;
                    width: 13px;
                    display: inline-block;
                    margin-right: 13px;
                }
            }

        }


    }

    /* sub-header */
    .sub-header {
        background: $bg-sub-header;

        #sub-header__logo-img {
            width: 31px;
            height: auto;
        }

        .b-head__search {
            margin: 0 auto;

            .b-input {
                width: 100%;
                padding: 10px;
                border: none;
                background: #fff;
                border-radius: 4px;
            }
        }

        .sub-header__right {
            margin-left: auto;
        }
    }
}

footer {
    .footer {
        .footer-top {
            padding: 60px 0;
            background-color: $bg-footer-top;

            .footer__title {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 0.04em;
                color: $color-footer-title;
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2)
            }
        }
    }
}


