// fonts
$font-pt-sans: 'PT Sans', sans-serif;
$font-segoe-ui: 'Segoe UI', Serif;
$font-size: 1rem;

//colors
$bg-color: #E5E5E5;
$bg-top-bar: #FC8507;
$bg-sub-header: #005AA7;
$color-text-top-bar: #FFFFFF;

// footer colors variables
$bg-footer-top: #005AA7;
$color-footer-title: #FFFFFF;
