$bg-color: #E5E5E5;
$font-family: 'PT Sans', sans-serif;
$font-size: 1rem;
$bg-top-bar: #FC8507;
$bg-sub-header: #005AA7;
$color-text-top-bar: #FFFFFF;

/* footer*/
$bg-footer-top: #005AA7;
$color-footer-title: #FFFFFF;
