.breadcrumb {
    display: flex;
    padding: .75rem 0;
    margin-top: 1rem;
    background-color: transparent;
    border-radius: .25rem;

    .breadcrumb-item {
        + .breadcrumb-item::before {
            padding: 0 .5rem;
            color: #6c757d;
            content: "/";
        }
    }
}
