.b-carousel {
    position: relative;

    &:hover {
        cursor: pointer;

        button[data-controls="prev"],
        button[data-controls="next"] {
            opacity: 1;
            transform: translateX(0) translateY(calc(20px - 50%));
        }
    }

    button[data-controls="prev"],
    button[data-controls="next"] {
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        top: calc((100% - 60px) / 2);
        outline: none;
        opacity: 0;
        //transition: opacity .3s ease, transform .3s;
        transition: all .5s;
        //padding-top: .5rem;
        cursor: pointer;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        border-width: 0;

        &:hover {
            background: #fc8908;
            color: #fff;
        }

        @include mq($max-width: "767px") {
            display: none;
        }
    }

    button[data-controls="next"] {
        &:after {
            @include arrow('arrow.svg', -180deg);
        }

        &:hover:not(.disabled) {
            &:after {
                @include arrow('arrow-hover.svg', 0);
            }
        }

        right: .5rem;
        left: auto;
        transform: translateX(10px) translateY(calc(20px - 50%));
    }

    button[data-controls="prev"] {
        &:after {
            @include arrow('arrow.svg', 0);
        }

        &:hover:not(.disabled) {
            &:after {
                @include arrow('arrow-hover.svg', -180deg);
            }
        }

        left: .5rem;
        right: auto;
        transform: translateX(-10px) translateY(calc(20px - 50%));
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        @include mq($max-width: "500px") {
            width: auto;
        }
    }

    @include mq($max-width: "1199px") {
        margin-top: 20px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .home-slider {
        &__rectangle {
            z-index: 2;
            position: absolute;
            background-size: cover;
            background: url("../../images/rectangle.png") no-repeat 0 0;
            width: 100%;
            height: 100%;
            @include mq($max-width: "676px") {
                background-size: 20% 100%;
            }
        }

        &__info {
            position: absolute;
            top: 20%;
            left: 1%;
        }

        &__title {
            color: #fff;
            font-size: 2rem;
        }

        &__subtitle {
            color: #fff;
            margin: 30px 0;
            font-size: 1rem;
            @include mq($max-width: "676px") {

            }
        }
    }

}


