.lds-dual-ring {
    width: 54px;
    height: 54px;
    position: absolute;
    top: calc((100% - 54px) / 2);
    left: calc((100% - 54px) / 2);

    &:after {
        content: " ";
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 3px solid #fc8507;
        border-color: #fc8507 transparent #fc8507 transparent;
        animation: lds-dual-ring .5s linear infinite;
        margin: 9px auto;
        line-height: 30px;
        transition: all .5s;
    }
}

@keyframes lds-dual-ring {
    0% {
        background: #fff;
        opacity: 1;
        transform: rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}
