.tabs-nav {
    font-size: 1rem;
    letter-spacing: 0.05em;
    color: $color-tabs-nav;
    border-bottom: 1px solid #ccc;
    background: #fff;
    border-left: 1px solid #ccc;

    ul {
        display: flex;
        align-items: flex-start;
    }

    &__item {
        cursor: pointer;
        margin: 30px 0 -1px 30px;
        border-bottom: 4px solid transparent;
        padding-bottom: 11px;

        &.active {
            border-bottom: 4px solid $border-tab-active-bottom;
            font-weight: bold;
        }
    }
}

.tabs-content {
    &__item {
        opacity: 0;
        visibility: hidden;
        display:none;

        &.active {
            opacity: 1;
            visibility: visible;
            display: block;
        }
    }
}
