#page-catalog {
    padding: 40px 0;
    background: #fff;

    .catalog {
        position: relative !important;
        background: none !important;
        box-shadow: none !important;
        right: 0;
        left: 0;

        &__link {
            border: 1px solid #ccc;
            margin-right: -1px;
            margin-bottom: -1px;
        }

        &__link-img {
            margin-right: 10px;
        }
    }

}
