.form-label {
    label {
        position: absolute;
        font-size: 14px;
        line-height: 18px;
        left: 20px;
        top: 18px;
        letter-spacing: $letter-spacing-6;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease-in-out;
    }

    input {
        height: 55px;

        &:valid + label,
        &[data-empty="false"] + label,
        &:focus + label {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: $letter-spacing-6;
            color: #8D8D8D;
            transform: translate3d(0, -10px, 0);
        }
    }
}
