/* Start page-top */
.page-top-grid {
    display: flex;

    &__menu {
        background: $bg-homepage-top-grid-menu;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);

        //&:not(.menu-desktop-wrap_showed) {
        //    display: block;
        //}

        @media (min-width: 1200px) {
            .page-top-grid__menu {
                display: flex;
                max-width: 268px;
                flex-shrink: 0;
                flex-grow: 0;
                flex-basis: 268px;
            }
        }

        .menu-desktop {
            &__root {
                padding: 15px 20px;
                max-width: 220px;
                display: flex;
                align-items: flex-start;

                &:hover {
                    background: rgba(0, 0, 0, 0.05);
                }
            }

            &__root-info {
                display: inline-block;

                .menu-desktop__root-title {
                    font-family: $font-segoe-ui;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: $color-homepage-top-grid-menu;

                }
            }

            img {
                margin-right: 24px;
            }

        }

        &.menu-desktop-wrap_showed {
            //@include fadeAnimate(menu-desktop-wrap_showed);
            position: fixed;
            max-height: calc(100vh - 64px);
            top: 64px;
            overflow-y: auto;
            height: 100vh;
            z-index: 1;
        }

    }

    &__right {
        // max-width: calc(100% - 300px);
        width: 1000px;
    }
}

/* End page-top */
