#register {
    background: #ffffff;
    padding: 40px 0;

    .register {
        width: 50%;

        %templateFormInput {
            .form-input {
                &:first-child {
                    flex-basis: 60%;

                    .input {
                        width: inherit;
                    }
                }

                &:last-child {
                    flex-basis: 37%;
                    margin-top: 34px;
                }
            }
        }

        &__form, .phone-verify__form {
            .input {
                border-radius: 0 !important;
                height: 53px;
                &:focus{
                    border: 2px solid #FC8507;
                }
            }
        }

        &__number-send-block {
            .input-phone-block, .input-phone-confirm {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @extend %templateFormInput;
            }

            .code-confirm {
                font-size: 1rem;
                line-height: 1.5;
                letter-spacing: $letter-spacing-4;
                text-decoration-line: underline;
                color: #FC8507;
            }

            .confirm-timer {
                color: #A2A2A2;
            }
        }

        &__userData {
            margin-top: 60px;
        }
    }

}
