%templateFontStyle {
    font-size: 1rem;
    line-height: 1.5;
}

#services {
    .services {
        display: flex;
        align-items: flex-start;
    }

    .primary-info-block {
        line-height: 1.5;
        margin-top: 30px;
    }

    .search-map {
        margin-bottom: 40px;
    }

    @include accordion;

    .primary-info-block {

    }

    .payment-method-info {
        display: flex;
        margin: 70px 0 40px 0;
        @include guaranteeBlock;
    }
}
