@mixin inputPlaceholder() { // input placeholder
    $selector: '';
    $prefixes: (
        moz: "::-moz",
        webkit: "::-webkit",
        ie: ":-ms"
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
        @content;
    }
}

// Hover link line
@mixin hoverUnderline($color, $px, $link: false) {
    &:before {
        content: "";
        width: 0;
        height: $px;
        opacity: 0;
        visibility: hidden;
        transition: all .2s;
        background: $color;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &:hover {
        // if text change color hover
        @if $link {
            color: $color;
        }

        &:before {
            width: 100%;
            opacity: 1;
            visibility: visible;
        }
    }

}

// Fade animation
@mixin fadeAnimate($class) {
    -webkit-animation-name: #{ $class };
    -webkit-animation-duration: 1.5s;
    animation-name: #{ $class };
    animation-duration: 1.5s;
    @-webkit-keyframes #{ $class }
    {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    @keyframes #{ $class }
    {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }

}
