/* Admin home */
.admin {
    &__home {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;

        &-link {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
            transition: .3s;
            color: #858585;
            text-decoration: none;

            &:hover {
                background: #f2f2f2;
                color: #0075D2;
            }
        }

        .logout {
            text-decoration: none !important;
            color: inherit;
            font-size: inherit;
        }
    }

    .count {
        margin-left: 5px;
    }
}
